/* YEEEEAAAHHH I EXIST */
#tooltip {
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
  padding: 1em;
  z-index: 9001;
  max-width: 20%;
  line-height: 1.5em;
}
#tooltip p {
  margin: 0px;
}
#tooltip a {
  font-style: bold;
  text-decoration: underline;
}
#tooltip .quote {
  font-style: italic;
}
#tooltip .wrong {
  margin-top: 1em;
}
svg path {
  fill: #E2E2E2;
}
svg path.has_tooltip {
  fill: #66AEF3;
}
